.papa{
    width: 700px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 150px;
}
.cards{
    background-color: aqua;
    width: 200px;
    height: 300px;
}