.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 440px;
    height: 360px;
    background-color: aqua;
    place-items: center;
}
.min-div{
    width: 200px;
    height: 160px;
}
#md1,#md4{
    background-color:lightgreen ;
}
#md2,#md3{
    background-color:rgb(255, 113, 113) ;
}